process {
    withName: aggregate_full_align_variants {
        memory { 16.GB * task.attempt }
    }

    withName: aggregate_pileup_variants {
        memory { 16.GB * task.attempt }
    }

    withName: callCNV {
        memory = 20.GB
    }

    withName: concat_vcfs {
        memory = 20.GB
    }

    withName: post_clair_contig_haplotag {
        memory { 20.GB * task.attempt }
    }

    withName: output_str {
        publishDir = [
            [path: "${params.out_dir}", mode: 'copy', pattern: '*.tsv'],
            [path: "${params.out_dir}", mode: 'copy', pattern: '*.vcf.gz*']
        ]
    }
}

profiles {
    slurm {
        process {
            executor = 'slurm'
            queue = 'cpu'
            clusterOptions = " --gres=tmpspace:20G"

            errorStrategy = 'retry'
            maxRetries = 1
        }

        singularity {
            enabled = true
            runOptions = '-B /hpc:/hpc -B $TMPDIR:$TMPDIR'
            autoMounts = true
            cacheDir = '/hpc/diaggen/software/development/wf-human-variation_v220/singularity'
        }

        executor {
            queueSize = 1000
            pollInterval = '1min'
            queueStatInterval = '5min'
            submitRatelimit = '10sec'
        }
    }
}