params {
    ubam_map_threads = 10
    ubam_sort_threads = 4
    ubam_bam2fq_threads = 4
}


def renameWithSuffix = { filename ->
    def suffix = params.suffix ?: ''
    def sample_name = params.sample_name ?: ''
    def basename = new File(filename).name

    // Insert suffix in filename if filename starts with sample_name, else return original filename 
    if (sample_name && basename.startsWith(sample_name)) {
        def rest = basename.substring(sample_name.length())  // get extension of original file
        return sample_name + suffix + rest
    } else {
        return basename
    }
}


process {
    withName: aggregate_full_align_variants {
        memory = { 4.GB * task.attempt }
        time = { 20.m * task.attempt }
    }

    withName: aggregate_pileup_variants {
        memory = { 4.GB * task.attempt }
        time = { 20.m * task.attempt }
    }

    withName: annotate_vcf {
        cpus = 2
    }

    withName: bam_region_filter {
        time = { 30.m * task.attempt }
    }


    withName: callCNV {
        time = { 20.m * task.attempt }
        memory = { 8.GB * task.attempt }
    }

    withName: cat_haplotagged_contigs {
        cpus = 8
        time = { 4.h * task.attempt }
        memory = { 16.GB * task.attempt }
        publishDir = [
            path: "${params.out_dir}",
            mode: 'copy',
            pattern: '*haplotagged*',
            saveAs: { filename -> renameWithSuffix(filename) }
        ]
    }

    withName: catSortBams {
        cpus = 10
        memory = { 12.GB * task.attempt }
        time = { 16.h * task.attempt }
    }

    withName: concat_bedmethyl {
        memory = { 4.GB * task.attempt }
        cpus = 2
    }

    withName: concat_vcfs {
        memory = { 4.GB * task.attempt }
    }

    withName: configure_igv {
        publishDir = [
            path: "${params.out_dir}",
            mode: 'copy',
            pattern: 'igv.json',
            saveAs: { filename -> renameWithSuffix(filename) }
        ]
    }

    withName: cram_cache {
        time = { 90.m * task.attempt }
        memory = { 4.GB * task.attempt }
    }

    withName: evaluate_candidates {
        time = { 20.m * task.attempt }
        memory = { 16.GB * task.attempt }
    }

    withName: extract_not_haplotagged_contigs{
        time = { 60.m * task.attempt }
        memory = { 4.GB * task.attempt }
        cpus = 4
    }

    withName: getParams {
        publishDir = [
            path: "${params.out_dir}",
            mode: 'copy',
            pattern: 'params.json',
            saveAs: { filename -> renameWithSuffix(filename) }
        ]
    }

    withName: get_qual_filter {
        memory = { 6.GB * task.attempt }
    }

    withName: gz_faidx {
        publishDir = [
            path: "${params.out_dir}",
            mode: 'copy',
            pattern: '*',
            saveAs: { filename -> renameWithSuffix(filename) }
        ]
    }

    withName: makeAlignmentReport {
        memory = { 6.GB * task.attempt }
    }

    withName: makeReport{
        cpus = 2
        time = { 10.m * task.attempt }
        memory = { 8.GB * task.attempt }
    }

    withName: mergeBams {
        cpus = 8
        time = { 10.h * task.attempt }
    }

    withName: minimap2_alignment {
        time = { 16.h * task.attempt }
    }

    withName: modkit_phase {
        time = { 30.m * task.attempt }
    }

    withName: mosdepth_input {
        cpus = 2
        time = { 4.h * task.attempt }
        memory = { 4.GB * task.attempt }
    }

    withName: mosdepth {
        cpus = 4
        time = { 2.h * task.attempt }
        memory = { 4.GB * task.attempt }
    }

    withName: output_cnv {
        publishDir = [
            path: "${params.out_dir}",
            mode: 'copy',
            pattern: '*',
            saveAs: { filename -> renameWithSuffix(filename) }
        ]
    }

    withName: output_snp {
        publishDir = [
            path: "${params.out_dir}",
            mode: 'copy',
            pattern: '*',
            saveAs: { filename -> renameWithSuffix(filename) }
        ]
    }

    withName: output_str {
        publishDir = [
            [ path: "${params.out_dir}",
              mode: 'copy',
              pattern: '*.tsv',
              saveAs: { filename -> renameWithSuffix(filename) }
            ],
            [ path: "${params.out_dir}",
              mode: 'copy',
              pattern: '*.vcf.gz*',
              saveAs: { filename -> renameWithSuffix(filename) }
            ]
        ]
    }

    withName: output_sv {
        publishDir = [
            path: "${params.out_dir}",
            mode: 'copy',
            pattern: '*',
            saveAs: { filename -> renameWithSuffix(filename) }
        ]
    }

    withName: phase_contig {
        time = { 20.m * task.attempt }
        cpus = 4
    }

    withName: pileup_variants {
        time = { 30.m * task.attempt }
        memory = { 12.GB * task.attempt }
    }

    withName: post_clair_contig_haplotag {
        time = { 40.m * task.attempt }
        memory = { 20.GB * task.attempt }
    }

    withName: post_clair_phase_contig {
       time = { 40.m * task.attempt }
    }

    withName: publish_artifact {
        publishDir = [
            path: "${params.out_dir}",
            mode: 'copy',
            pattern: '*',
            saveAs: { filename -> renameWithSuffix(filename) }
        ]
    }

    withName: readStats {
        time = { 4.h * task.attempt }
        memory = { 10.GB * task.attempt }
        cpus = 6
    }

    withName: refine_with_sv {
        time = { 2.h * task.attempt }
        memory = { 4.GB * task.attempt }
        cpus = 2
    }

    withName: sample_probs {
        time = { 20.m * task.attempt }
    } 

    withName: samtools_index{
        time = { 60.m * task.attempt }
        memory = {30.GB * task.attempt }
        cpus = 8
    }

    withName: sift_clinvar_vcf {
        publishDir = [
            path: "${params.out_dir}",
            mode: 'copy',
            pattern: '*clinvar.vcf*',
            saveAs: { filename -> renameWithSuffix(filename) }
        ]
    }

    withName: sniffles2 {
        cpus = 8
        time = { 4.h * task.attempt }
        memory = { 20.GB * task.attempt }
        publishDir = [
            path: "${params.out_dir}",
            mode: 'copy',
            pattern: '*.wf_sv.snf',
            saveAs: { filename -> renameWithSuffix(filename) }
        ]
    }

    withName: validate_sample_sheet {
        publishDir = [
            path: "${params.out_dir}",
            mode: 'copy',
            pattern: '*',
            saveAs: { filename -> renameWithSuffix(filename) }
        ]
    }

}

trace {
    enabled = true
    file = "${params.out_dir}/execution/trace.txt"
    overwrite = true
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,vol_ctxt,inv_ctxt'
}

profiles {
    slurm {
        process {
            executor = 'slurm'
            queue = 'cpu'
            time  = '10.m'
            memory = '4.GB'
            cpu = '2'
            clusterOptions = " --gres=tmpspace:10G"
            errorStrategy = 'retry'
            maxRetries = 1
        }

        singularity {
            enabled = true
            runOptions = '-B /hpc:/hpc -B $TMPDIR:$TMPDIR'
            autoMounts = true
            cacheDir = '/hpc/diaggen/software/singularity_cache'
        }

        executor {
            queueSize = 1000
            pollInterval = '1min'
            queueStatInterval = '5min'
            submitRatelimit = '10sec'
        }
    }
}
