params {
    ubam_map_threads = 10
    ubam_sort_threads = 4
    ubam_bam2fq_threads = 4
}

process {

    withName: minimap2_alignment {
        time = { 16.h * task.attempt }
    }

    withName: aggregate_full_align_variants {
        memory = { 4.GB * task.attempt }
    }

    withName: aggregate_pileup_variants {
        memory = { 4.GB * task.attempt }
    }

    withName: cat_haplotagged_contigs {
        memory = { 20.GB * task.attempt }
    }

    withName: callCNV {
        memory = { 8.GB * task.attempt }
    }

    withName: concat_vcfs {
        memory = { 4.GB * task.attempt }
    }

    withName: post_clair_contig_haplotag {
        memory = { 20.GB * task.attempt }
    }

    withName: output_str {
        publishDir = [
            [path: "${params.out_dir}", mode: 'copy', pattern: '*.tsv'],
            [path: "${params.out_dir}", mode: 'copy', pattern: '*.vcf.gz*']
        ]
    }
}

profiles {
    slurm {
        process {
            executor = 'slurm'
            queue = 'cpu'
            clusterOptions = " --gres=tmpspace:20G"

            errorStrategy = 'retry'
            maxRetries = 1
        }

        singularity {
            enabled = true
            runOptions = '-B /hpc:/hpc -B $TMPDIR:$TMPDIR'
            autoMounts = true
            cacheDir = '/hpc/diaggen/software/singularity_cache'
        }

        executor {
            queueSize = 1000
            pollInterval = '1min'
            queueStatInterval = '5min'
            submitRatelimit = '10sec'
        }
    }
}
